
#Ignore screenshots
/scripts/screenshots/
#Ignore newly created IUC docs
/scripts/IUCs/
#Ignore log files
*.log
#Ignore temp files
*.tmp
# Ignore .env file
.env
#Ignore IUC template
/scripts/assets/FYXX IUC - User List Source_GeneralTemplate.pptx
# Python cache files
*.pyc
__pycache__/
# Ignore saviynt data
/models/saviynt_data.xlsx

#Ignore images folder
/static/images/*